body {
	font-family: "Open Sans", sans-serif;
}

h1 {
	padding-top: 40px;
	padding-bottom: 20px;
}

.wrapper {
	width: 100%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

input {
	margin: 5px auto;
	display: block;
}

.button {
	padding: 10px;
	margin: 5px;
	color: white;
	background-color: #CCC;
}